* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	height: 100%;
	-ms-overflow-style: scrollbar;
}
body {
	color: #161431;
	position: relative;
	font: 14px/18px 'Roboto', sans-serif;
	-webkit-text-size-adjust:none;
	-webkit-overflow-scrolling: touch;
	min-width: 320px;
	height: 100%;
	overflow-y: scroll;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	text-decoration: none;
}

:focus,
:active {
	outline:none
}

::selection {
	color: #fff;
	background: #161431;
}
img {
	border: 0;
	position: relative;
	vertical-align: top;
}
li {
	list-style: none;
	position: relative;
}
header, main, nav, time, section, article, aside, footer {
	display:block;
	position: relative;
}
.clr:after {
	clear: both;
	content: '';
	display: table;
}

.center {
	margin: 0 auto;
	max-width: 1140px;
	position: relative;
}

.input {
	vertical-align: middle;
	padding: 0 14px;
	width: 100%;
	font-size: inherit;
	font-family: inherit;
	position: relative;
	-webkit-appearance: none;
	display: block;
	height: 42px;
	border-radius: 2px;
	color: #737283;
	border: solid 1px #e9e9e9;
}
textarea.input {
	resize: none;
	height: 120px;
	overflow: hidden;
	padding: 14px;
}
.input:focus {
	color: #161431;
	box-shadow: 0 2px 23px rgba(237, 237, 237, 0.5);
}

.input::placeholder {
	color: #161431;
	opacity: .5;
}
.input:-ms-input-placeholder {
	color: #161431;
	opacity: .5;
}
.input::-webkit-input-placeholder {
	color: #161431;
	opacity: .5;
}

.input:focus::placeholder {
	color: #161431;
	opacity: .7;
}
.input:focus:-ms-input-placeholder {
	color: #161431;
	opacity: .7;
}
.input:focus::-webkit-input-placeholder {
	color: #161431;
	opacity: .7;
}

.input:disabled {
	opacity: 1;
	color: #737283;
	background: none
}

.input::-ms-clear {
	display: none
}
@-ms-viewport {
	width: device-width;
}

table {
	border: 0;
	border-collapse: collapse;
}

/* ico
-----------------------------------------------------------------------------*/
.ico {
	top: 0;
	left: 0;
	width: 35px;
	height: 35px;
	position: absolute;
	font-style: normal;
	background: url(/images/sprite.svg);
}
.ico--inline {
	position: relative;
	vertical-align: middle;
	display: inline-block;
}
.ico--arrow-down {
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #d0d0d0 transparent;
	border-width: 4px 4px 0;
}

/* btn
-----------------------------------------------------------------------------*/
.btn {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	padding: 0 24px;
	line-height: 42px;
	position: relative;
	color: #fff;
	white-space: nowrap;
	border-radius: 2px;
	background: #e84d23;
}
.btn--blue {
	background: #7ad1d9;
}
.btn--gray {
	background: #f8f8f8;
}
.btn--outline {
	color: #161431;
	border: 1px solid;
	line-height: 40px;
	background: #fff;
	padding: 0 22px;
}
.btn--outline-blue {
	color: #848484;
	line-height: 40px;
	border: solid 1px #7ad1d9;
	background: #fff;
	padding: 0 22px;
}
.btn:hover {
	background: #cc3d16;
}
.btn--blue:hover {
	background: #379199;
}
.btn--gray:hover {
	background: #f1f1f1;
}
.btn--outline:hover {
	color: #e84d23;
	background: #fff;
}
.btn--outline-blue:hover {
	border: solid 1px #7ad1d9;
	background: #fff;
}
.btn--44 {
	line-height: 44px;
}
.btn--44.btn--outline {
	line-height: 42px;
}
.btn--58 {
	font-size: 16px;
	line-height: 58px;
	font-weight: 500;
}
.btn--big {
	font-size: 21px;
	font-weight: 500;
	line-height: 58px;
	padding: 0 28px;
}

.btn input {
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: -1;
	opacity: 0;
	position: absolute;
}

.btn--radio {
	padding: 0;
	background: none !important;
}
.btn--radio__text {
	padding: 0 24px;
	display: block;
	border-radius: 2px;
	color: #737283;
	background: #f8f8f8;
}
.btn--radio:hover .btn--radio__text {
	background: #f1f1f1;
}
.btn--radio input:checked + .btn--radio__text {
	color: #fff;
	background: #7ad1d9;
}

.btn--ico .ico {
	top: -1px;
	left: -10px;
}

hr {
	background: #ececec;
	height: 1px;
	border: 0;
	margin: 20px auto;
	max-width: 100%;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-justify {
	text-align: justify;
}
.clear-both {
	clear: both;
}
.block {
	display: block;
}
.uppercase {
	text-transform: uppercase;
}

.notsel {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


.h0 {
	font-size: 52px;
	font-weight: 500;
	line-height: 61px;
}
.h1 {
	font-size: 40px;
	font-weight: 500;
	line-height: 47px;
}
.h2 {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}
.h3 {
	font-size: 21px;
	font-weight: 500;
	line-height: 24px;
}
.h4 {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}


.m20 {
	margin: 20px auto;
}
.m30 {
	margin: 30px auto;
}
.mb16 {
	margin-bottom: 16px;
}

.w100p {
	width: 100%;
}

.flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.flexbox--wrap {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flexbox--column {
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-ms-flex-direction:column;
	-webkit-flex-direction:column;
	flex-direction:column;
}
.flexbox--center {
	-webkit-justify-content: center;
	justify-content: center;
}
.flexbox--align-center {
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.flexbox--justify {
	-webkit-box-pack:justify;
	-moz-box-pack:justify;
	-ms-flex-pack:justify;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
.flexbox--end {
	-webkit-box-pack: end;
	-moz-box-pack: end;
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.flexbox--justify-between {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}


.flexbox__flex-1 {
	-webkit-box-flex: 1 0 auto;
	-moz-box-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.flexbox__order-0 {
	-webkit-box-ordinal-group: 0;
	-moz-box-ordinal-group: 0;
	-ms-flex-order: 0;
	-webkit-order: 0;
	order: 0;
}

.flexbox__center-vertical {
	margin-top: auto;
	margin-bottom: auto;
}


/* visible
-----------------------------------------------------------------------------*/
.hide {
	display: none;
}
.hidden {
	overflow: hidden;
}
.hidden-visible {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 0;
	height: 0;
	z-index: -1;
	overflow: hidden;
}

/*======================================
  Selectric
======================================*/
.selectric-wrapper {
	position: relative;
	cursor: pointer;
}
.selectric-responsive {
	width: 100%;
}
.selectric {
	border: 1px solid #e9e9e9;
	background: ;
	position: relative;
	border-radius: 2px;
}
.selectric .label {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 40px 0 14px;
	line-height: 40px;
	color: #737283;
	height: 40px;
}
.selectric .button {
	position: absolute;
	right: 12px;
	top: 50%;
	width: 12px;
	height: 10px;
	margin-top: -4px;
	background: url(/images/sprite.svg) -136px -42px;
}
.selectric-focus {
}
.selectric-hover {
}

.selectric-open {
	z-index: 9999;
}
.selectric-open .selectric {
	background: #161431;
	border-color: #161431;
}
.selectric-open .label {
	color: #fff;
}
.selectric-open .button {
	background-position: -90px -42px
}
.selectric-open .selectric-items {
	display: block;
}

.selectric-disabled {
	opacity: 0.5;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectric-hide-select {
	position: relative;
	overflow: hidden;
	width: 0;
	height: 0;
}
.selectric-hide-select select {
	position: absolute;
	left: -100%;
}
.selectric-hide-select.selectric-is-native {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.selectric-hide-select.selectric-is-native select {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	border: none;
	z-index: 1;
	box-sizing: border-box;
	opacity: 0;
}
.selectric-input {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	outline: none !important;
	border: none !important;
	font-size: 0 !important;
	background: none !important;
}
.selectric-temp-show {
	position: absolute !important;
	visibility: hidden !important;
	display: block !important;
}

/* Items box */
.selectric-items {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	border: 1px solid #e9e9e9;
	z-index: -1;
	padding: 8px 0;
	border-radius: 0 0 2px 2px;
}
.selectric-items .selectric-scroll {
	height: 100%;
	overflow: auto;
}
.selectric-above .selectric-items {
	top: auto;
	bottom: 100%;
}
.selectric-items li {
	display: block;
	padding: 5px 15px;
	cursor: pointer;
}
.selectric-items li.selected {
}
.selectric-items li.highlighted {
	color: #737283;
}
.selectric-items li:hover {
	background: #e9e9e9;
}
.selectric-items .disabled {
	opacity: 0.5;
	cursor: default !important;
	background: none !important;
	color: #666 !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* jQuery UI */
.ui-datepicker {
	display: none;
	width: 227px;
	border-radius: 6px;
	background: #fff;
	padding: 8px 0;
	box-shadow: 0 2px 23px #ededed;
	transform: translate(120px, -34px);
}
.ui-datepicker .ui-datepicker-header {
	height: 40px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 12px;
	right: 50px;
	width: 22px;
	height: 22px;
	border-radius: 11px;
	background: #f7f8fc url(/images/sprite.svg) -249px -38px;
}
.ui-datepicker .ui-datepicker-next {
	right: 16px;
	background-position: -311px -38px
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {

}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: none;
}
.ui-datepicker-calendar {
	margin: auto;
	text-align: center;
}
.ui-datepicker-calendar th {
	height: 19px;
	font-size: 12px;
	font-weight: 700;
	padding-bottom: 10px;
	color: #e84d23;
}
.ui-datepicker-calendar td {
	vertical-align: middle;
}
.ui-datepicker-calendar .ui-state-default {
	font-size: 11px;
	width: 30px;
	line-height: 25px;
	display: block;
	color: #e1e4e7;
}
.ui-datepicker-calendar a.ui-state-default {
	color: #7c86a2;
}
.ui-datepicker-calendar a.ui-state-default:hover {
	color: #161431;
}
.ui-datepicker-calendar .ui-state-default.ui-state-active {
	border-radius: 2px;
	background: #e84d23;
	color: #fff !important;
	width: 20px;
	line-height: 20px;
	margin: auto;
}
.ui-datepicker-title {
	padding-left: 14px;
}
.ui-datepicker .selectric-wrapper {
	display: inline-block;
	position: static;
}
.ui-datepicker .selectric {
	border: 0;
	background: none !important
}
.ui-datepicker .selectric .label {
	height: 28px;
	line-height: 28px;
	margin: 0;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .5px;
	color: #737283;
	padding: 2px;
}
.ui-datepicker .button {
	display: none;
}
.ui-datepicker .selectric-items {
	min-width: 100%;
	border: 0;
	padding: 0;
	z-index: 1;
	height: 100%;
	top: 0;
}


/* header
-----------------------------------------------------------------------------*/
.header {
	padding: 28px 0;
	background: #fff;
}
.header .logo{
	margin: 9px 2px;
}
.header__btn li {
	float: left;
	padding-left: 14px;
}
.header__lang {
	height: 44px;
	margin: 0 14px;
	position: relative;
}
.lang-toggle-show {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.lang-toggle {
	position: relative;
	border-radius: 2px;
	background: #fff;
	padding: 6px 0;
}
.lang-toggle-item {
	display: none;
}
.lang-toggle-item--current {
	display: block;
}
.lang-toggle-item--current a:after {
	content: '';
	border-color: #d0d0d0 transparent;
	border-style: solid;
	border-width: 4px 4px 0;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
.lang-toggle--hover {
	z-index: 9;
	box-shadow: 0 2px 23px #ededed;
}
.lang-toggle--hover .lang-toggle-item {
	display: block;
}
.lang-toggle--hover .lang-toggle-item--current a:after {
	opacity: 0;
}
.lang-toggle-link {
	display: block;
	font-weight: 500;
	padding: 6px 20px;
	line-height: 18px;
}
.lang-toggle-link:hover {
	color: #e84d23;
}

.header__menu {
	margin-right: 70px;
}
.header__menu li {
	float: left;
}
.header__menu a {
	display: block;
	font-weight: 500;
	padding: 12px 19px;
	line-height: 18px;
}
.header__menu a:hover {
	color: #e84d23;
}
.header__menu-toggle {
	height: 44px;
	width: 44px;
	cursor: pointer;
}
.header__menu-toggle:before {
	position: absolute;
	width: 22px;
	height: 6px;
	top: 20px;
	left: 0;
	right: 0;
	margin: auto;
	content: '';
	background: url(/images/sprite.svg) -492px -46px;
}
.header__menu-toggle--hover .header__menu-sub {
	display: block;
}
.header__menu-sub {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	box-shadow: 0 2px 23px #ededed;
	border-radius: 2px;
	background: #fff;
	padding: 6px 0;
}
.header__menu-sub li{
	float: none;
}
.header__menu-sub a {
	display: block;
	font-weight: 500;
	padding: 6px 20px;
	line-height: 18px;
	white-space: nowrap;
}
.header__menu-sub a:hover {
	color: #e84d23;
}


/* footer
-----------------------------------------------------------------------------*/
.footer {
	padding: 62px 0 32px;
	background: #f2f2f2;
	border-top: 1px solid #ececec;
}
.footer__address {
	color: #737283;
	padding: 18px 0
}
.footer__tel {
	font-size: 24px;
	line-height: 28px;
	color: #379199;
	display: inline-block;
	padding: 10px 0 8px;
}
.footer__mail {
	opacity: 0.6;
	color: #323049;
}
.footer__mail:hover {
	opacity: 1;
}
.social-group {
	font-size: 0;
	margin: 28px 0 0;
}
.social-group__item {
	display: inline-block;
	margin-right: 17px;
}
.footer__item a:hover {
	color: #e84d23;
}
.social-group__link {
	width: 29px;
	height: 29px;
	display: block;
	border-radius: 50%;
	color: transparent;
	font-size: 0;
	background: #737283 url(/images/sprite.svg) -36px -32px;
}
.social-group__link--tw {
	background-position: -32px -213px
}
.social-group__link--fb {
	background-position: -77px -213px
}
.social-group__link--yt {
	background-position: -123px -213px
}
.social-group__link--tw:hover {
	background-color: #161431;
}
.social-group__link--fb:hover {
	background-color: #161431;
}
.social-group__link--yt:hover {
	background-color: #161431;
}

.footer__item {
	line-height: 26px;
	padding: 0 30px 0 40px;
}
.footer__item p{
	color: #737283;
	max-width: 300px
}
.footer__head{
	font-size: 14px;
	line-height: 18px;
	padding: 4px 0 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #e84d23;
}
.footer__app-store,
.footer__google-play {
	width: 158px;
	height: 50px;
	margin-top: 28px;
	font-size: 0;
	opacity: .6;
	color: transparent;
	background: url(/images/sprite.svg) -162px -106px
}
.footer__google-play {
	margin-right: 14px;
	background-position: -336px -106px
}
.footer__app-store:hover,
.footer__google-play:hover {
	opacity: 1;
}
.footer__hr {
	margin: 30px 0;
	background: #e2e2e2;
}
.footer__copyright {
	color: #b6b6b6;
	line-height: 28px;
}
.footer__developer {
	height: 28px;
	width: 144px;
	font-size: 0;
	color: transparent;
	background: url(/images/sprite.svg) -190px -210px
}

