* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	-ms-overflow-style: scrollbar;
}
body {
	color: #292929;
	position: relative;
	font: 14px/18px 'ProximaNova', sans-serif;
	-webkit-text-size-adjust:none;
	-webkit-overflow-scrolling: touch;
	min-width: 960px;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	text-decoration: none;
}

:focus,
:active {
	outline:none
}

::selection {
	color: #fff;
	background: #292929;
}
img {
	border: 0;
	position: relative;
	vertical-align: top;
}
li {
	list-style: none;
	position: relative;
}
header, main, nav, time, section, article, aside, footer {
	display:block;
	position: relative;
}
.clr:after {
	clear: both;
	content: '';
	display: table;
}

.center {
	margin: 0 auto;
	max-width: 960px;
	position: relative;
}

.input {
	vertical-align: middle;
	padding: 0;
	width: 100%;
	font-family: inherit;
	position: relative;
	-webkit-appearance: none;
	display: block;
	height: 26px;
	color: #535353;
	border: 0;
	font-size: 12px;
	border-bottom: 2px solid #03a9f5;
}
textarea.input {
	resize: none;
	height: 120px;
	overflow: hidden;
	padding: 14px;
}
.input:focus {
	color: #292929;
}

.input::placeholder {
	color: #292929;
	opacity: .5;
}
.input:-ms-input-placeholder {
	color: #292929;
	opacity: .5;
}
.input::-webkit-input-placeholder {
	color: #292929;
	opacity: .5;
}

.input:focus::placeholder {
	color: #292929;
	opacity: .7;
}
.input:focus:-ms-input-placeholder {
	color: #292929;
	opacity: .7;
}
.input:focus::-webkit-input-placeholder {
	color: #292929;
	opacity: .7;
}

.input:disabled {
	opacity: 1;
	color: #292929;
	background: none
}
.input--valid {
	border-bottom-color: #37c936;
}
.input--error {
	color: #f14b59;
	border-bottom-color: #f14b59
}

.input::-ms-clear {
	display: none
}
@-ms-viewport {
	width: 960px;
}

table {
	border: 0;
	border-collapse: collapse;
}

.checkbox {
	line-height: 20px;
	padding-left: 25px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
}
.checkbox__pic {
	top: -1px;
	left: -1px;
	width: 22px;
	height: 22px;
	position: absolute;
	background: url(/images/sprite.png) -394px -99px;
}
.checkbox input:checked ~ .checkbox__pic {
	background-position: -394px -129px;
}

/* ico
-----------------------------------------------------------------------------*/
.ico {
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	position: absolute;
	font-style: normal;
	background: url(/images/sprite.png);
}
.ico--inline {
	position: relative;
	vertical-align: middle;
	display: inline-block;
}
.ico--arrow-up,
.ico--arrow-down,
.ico--arrow-left,
.ico--arrow-right {
	background: url(/images/sprite.png) -532px -130px;
}
.ico--arrow-up {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.ico--arrow-down {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.ico--arrow-left {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.ico--close-red {
	background-position: -438px -100px;
}
.ico--check-green {
	background-position: -438px -130px;
}

/* btn
-----------------------------------------------------------------------------*/
.btn {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	padding: 0 18px;
	line-height: 38px;
	position: relative;
	color: #fff;
	white-space: nowrap;
	border-radius: 24px;
	background: #03a9f5;
}
.btn--outline {
	border: 2px solid;
	background: none;
}
.btn--white {
	color: #707070;
	background: #fff;
	border: 1px solid #bae8ff;
}
.btn--outline:hover {
	color: #03a9f5;
	border-color: #fff;
	background: #fff;
}


.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.align-center {
	text-align: center;
}

.notsel {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


.h1 {
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	margin: 28px 0;
	letter-spacing: -.1px;
	position: relative;
	text-transform: uppercase;
}
.h1:after {
	display: block;
	margin: 20px auto;
	content: '';
	height: 2px;
	width: 20px;
	background: #03a9f5;
}
.h1--line:after {
	opacity: 0;
}
.h1__line {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	width: 20px;
	margin: auto;
	background: #03a9f5;
}

.m20 {
	margin: 20px auto;
}

.w100p {
	width: 100%;
}

.flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.flexbox--wrap {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flexbox--column {
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-ms-flex-direction:column;
	-webkit-flex-direction:column;
	flex-direction:column;
}
.flexbox--center {
	-webkit-justify-content: center;
	justify-content: center;
}
.flexbox--align-center {
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.flexbox--align-self {
	-webkit-align-self: center;
	align-self: center;
}
.flexbox--justify {
	-webkit-box-pack:justify;
	-moz-box-pack:justify;
	-ms-flex-pack:justify;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
.flexbox--justify-between {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.flexbox__order-1 {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-webkit-order: 1;
	order: 1;
}

.flexbox__start {
	margin-right: auto;
}
.flexbox__end {
	margin-left: auto;
}



/* visible
-----------------------------------------------------------------------------*/
.hide {
	display: none;
}
.hidden {
	overflow: hidden;
}
.hidden-visible {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 0;
	height: 0;
	z-index: -1;
	overflow: hidden;
}

/* first load screen
-------------------------*/

/* header
-----------------------------------------------------------------------------*/
.header__top {
	color: #fff;
	background: #03a9f5;
	padding: 20px 0;
}
.header__logo {
	margin: 0 10px;
	position: relative;
}
.header__logo:before {
	font-size: 12px;
	font-weight: 300;
	position: absolute;
	right: 0;
	bottom: -6px;
	line-height: 18px;
	content: attr(title);
}

.lang-toggle {
	position: relative;
	width: 60px;
	height: 28px;
	margin-top: 10px;
	margin-right: 10px;
}
.lang-toggle .ico {
	left: auto;
	top: 4px;
	right: 8px;
}
.lang-toggle:hover .ico {
	background-position: -572px -130px;
}
.lang-toggle__box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 28px;
	overflow: hidden;
	border-radius: 14px;
	background: #0091d4;
}
.lang-toggle__text {
	color: inherit;
	font-size: 12px;
	text-transform: uppercase;
	padding: 4px 13px;
	line-height: 18px;
	display: block;
}
.lang-toggle__item--active .lang-toggle__text {
	cursor: default;
}
.lang-toggle:hover .lang-toggle__box {
	height: auto;
}
a.lang-toggle__text:hover {
	color: #bae8ff
}


/* slider-home
-----------------------------------------------------------------------------*/
.slider-home {
	position: relative;
	overflow: hidden;
	height: 592px;
	color: #fff;
	background: #0287c4
}
.slider-home .slide-show__box {
	height: 592px;
}
.slider-home__item {
	height: 592px;
	padding-left: 170px;
}
.slider-home__img {
	position: absolute;
	right: 0;
	bottom: 0;
}
.slider-home__text {
	font-size: 24px;
	line-height: 36px;
	font-weight: 300;
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
}
.slider-home__model {
	font-size: 48px;
	line-height: 54px;
	font-weight: 300;
	margin: 15px 0;
	display: block;
	text-transform: uppercase;
}
.slider-home__btn {
	margin: 48px 0 15px;
	line-height: 42px;
	padding: 0 32px;
	font-size: 14px;
	font-weight: 400;
}

/* list-pic
-----------------------------------------------------------------------------*/
.list-pic {
	margin-bottom: 40px;
}
.list-pic li {
	width: 280px;
	color: #565656;
	font-size: 16px;
	text-align: center;
	margin: 10px 0 32px;
	line-height: 18px;
	font-weight: 300;
}
.list-pic li::before {
	display: block;
	margin: 14px auto;
	width: 60px;
	height: 60px;
	content: '';
	border-radius: 50%;
	background: #03a9f5 url(/images/sprite.png);
}
.list-pic li:nth-child(1)::before {
	background-position: -34px -14px;
}
.list-pic li:nth-child(2)::before {
	background-position: -314px -14px;
}
.list-pic li:nth-child(3)::before {
	background-position: -594px -14px;
}
.list-pic li:nth-child(4)::before {
	background-position: -166px -14px;
}
.list-pic li:nth-child(5)::before {
	background-position: -446px -14px;
}
.list-pic li:nth-child(6)::before {
	background-position: -724px -14px;
}
