body {
	background: #f5f5f5;
}
.header {
	border-bottom: 6px solid #0287c4;
	box-shadow: 0 3px 13px rgba(0,0,0,.4);
}
.header__exit {
	width: 44px;
	margin: 0 20px;
	height: 44px;
	position: relative;
	top: 2px;
	border-radius: 50%;
	background: #0091d4 url(/images/sprite.png) -367px -202px;
	background-size: 800px 600px;
}
.header__exit:hover {
	background-color: #f14b59
}
.header__user {
	color: #fff;
	padding-left: 80px;
	padding-top: 2px;
	position: relative;
}
.header__user-img {
	width: 60px;
	height: 60px;
	position: absolute;
	top: -6px;
	left: 0;

	background-color: #0091d4;
	font-size: 24px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
}
.header__user-img img {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.header__user-company {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	display: block;
	letter-spacing: 2px;
}
.header__user-name {
	font-size: 12px;
	line-height: 14px;
	display: block;
	max-width: 160px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing: 1.3px;
}
.header__user-text {
	height: 44px;
	width: 160px;
	display: table-cell;
	vertical-align: middle;
}

.lk-box {
	padding: 14px 10px 14px 36px;
	background: #fff;
	margin-bottom: 20px;
	position: relative;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.35);
}

.lk-left {
	width: 460px;
	margin-left: 10px;
}
.lk-right {
	width: 460px;
	margin-right: 10px;
}

.lk-box__red {
	color: #f14b59
}

/* lk-box
-----------------------------------------------------------------------------*/
.lk-box__edit {
	top: 38px;
	left: auto;
	right: 28px;
}
.lk-box__add {
	top: 22px;
	left: auto;
	right: 22px;
}
.lk-box__title {
	margin: 26px 0;
	color: #03a9f5;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
}
.lk-box__h3 {
	margin: 16px 0 8px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #88c7e7
}
.lk-box__text {
	margin: 8px 48px 24px 0;
	font-size: 14px;
	line-height: 24px;
	color: #656565
}
.lk-box__text--time {
	line-height: 27px;
	margin: 8px 0 14px;
}
.lk-box__text--big {
	font-size: 16px;
	margin: 8px 48px 24px 0;
}
.social-links {
	margin: 24px 0;
}
.social-links__item {
	color: #03a9f5;
	display: inline-block;
	position: relative;
	line-height: 42px;
	margin: 10px 66px;
	text-decoration: underline;
	text-decoration-color: #d4ebfd;
}
.social-links__item::before {
	position: absolute;
	width: 46px;
	height: 46px;
	top: -2px;
	left: -68px;
	content: '';
	background: url(/images/sprite.png);
	background-size: 800px 600px;
}
.social-links__item--site::before {
	background-position: -720px -98px;
}
.social-links__item--vk::before {
	background-position: -720px -160px;
}
.social-links__item--fb::before {
	background-position: -720px -220px;
}
.social-links__item--in::before {
	background-position: -720px -280px;
}
.social-links__item--tw::before {
	background-position: -720px -340px;
}
.social-links__item--fl::before {
	background-position: -720px -400px;
}

.lk-box__list-edit {
	margin: 30px 0;
}
.lk-box__list-edit__item {
	margin: 15px 0;
}
.lk-box__list-edit-name {
	line-height: 16px;
	padding: 8px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.lk-box__list-edit-icons .ico {
	margin: 0 8px;
}
.lk-box__list-edit-blue {
	margin: 0 16px;
	display: inline-block;
	background: #03a9f5;
	color: #fff;
	text-align: center;
	line-height: 32px;
	height: 33px;
	font-size: 12px;
	border-radius: 50%;
	width: 33px;
}

.lk-box__btns {
	text-align: center;
	margin: 30px;
}

.lk-phone {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	padding-left: 34px;
	font-size: 14px;
	line-height: 16px;
}
.lk-phone__ico {
	left: -4px;
	top: 4px;
}
.lk-phone__label {
	display: block;
	color: #8dc9e8;
}
.lk-phone__tel {
	display: block;
	color: #747474;
}

/* slider-lk
----------------------------------------*/
.slider-lk {
	padding: 20px;
	padding-left: 260px;
	min-height: 202px;
	margin: 16px -10px 20px;
}
.slide-show__item {
	width: 220px;
	height: 162px;
	margin-right: 20px;
}
.slider-lk__item {
	background-position: center;
	background-size: cover;
	position: relative;
	height: 162px;
}
.slider-lk__img {
	display: none;
}
.slider-lk__item--add {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 220px;
}
.add-file {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	border-radius: 2px;
	border: 2px solid #bae8ff;
	background-color: #bae8ff;
	background-image: url(/images/sprite.png);
	background-size: 800px 600px;
	background-position: -12px -284px;
}
.add-file__input {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	font-size: 999%;
	opacity: 0;
	width: 220px;
	height: 162px;
}
.add-file__text {
	display: block;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	color: #4394bd;
	padding: 104px 40px 0;
	position: relative;
}
.add-file:hover {
	border: 2px solid #03a9f5;
}
.slider-lk__item .ico--del-white,
.slider-lk__item .ico--check-white {
	top: 61px;
	left: 116px;
	opacity: 0;
}
.slider-lk__item .ico--check-white {
	left: 60px;
}
.slider-lk__item .ico--check-blue {
	left: 180px;
	top: 11px;
	display: none;
}
.slider-lk__item::before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
}
.slider-lk__item:hover::before {
	opacity: .4;
	background: #000;
}
.slider-lk__item:hover .ico--del-white,
.slider-lk__item:hover .ico--check-white {
	opacity: 1;
}
.slider-lk__item--main::before {
	border: 4px solid #03a9f5;
}
.slider-lk__item--main .ico--check-blue {
	display: block;
}

/* alert_up__lk
----------------------------------------*/
.alert_up__lk {
	width: 460px;
	padding: 38px;
	padding-bottom: 25px;
	text-align: left;
}
.alert_up__lk .alert_up__btns .btn {
	margin: 10px 8px 0;
}
.alert_up__lk p {
	color: #656565;
	font-size: 14px;
	line-height: 18px;
	margin: 14px 0;
	padding: 0;
	text-align: left;
}
.alert_up__lk .alert_up__title {
	color: #03a9f5;
	font-size: 18px;
	font-weight: 400;
	line-height: 38px;
	text-align: left;
	text-transform: uppercase;
}
.alert_up__lk .alert_up__label {
	color: #88c7e7;
	font-size: 18px;
	font-weight: 400;
	line-height: 38px;
	text-align: left;
	margin: 14px 0 6px;
}
.alert_up__lk .alert_up__input {
	margin: 6px 0;
	width: 100%;
	background: #f7f7f7;
	border-radius: 4px;
	font-size: 14px;
	color: #656565;
	padding: 0 10px;
	height: 30px;
	border: 2px solid #f7f7f7;
}
.alert_up__w72,
.alert_up__w182 {
	width: 72px;
	position: relative;
	margin-right: 32px;
}
.alert_up__w182 {
	width: 182px;
}
.alert_up__w72-tooltip {
	position: absolute;
	left: 0;
	bottom: 10px;
}
.alert_up__w72 .alert_up__link {
	margin-top: 62px;
	display: block;
}

.alert_up__input:focus {
	border-color: #03a9f5;
}

.alert_up__textarea-box {
	position: relative;
}
.alert_up__lk .alert_up__textarea {
	margin: 0;
	padding: 3px 10px;
}
.alert_up__textarea-arrow {
	position: absolute;
	top: 100%;
	left: 100% !important;
	margin: -12px 0 0 -12px;
	border-radius: 0 0 4px 0;
	border-style: solid;
	border-color: transparent #03a9f5 #03a9f5 transparent;
	border-width: 6px;
	-ms-touch-action: none;
	touch-action: none;
}

.social-links--edit {
	margin: 8px 0;
}
.social-links--edit .social-links__item {
	text-decoration: none;
}
.social-links--edit .alert_up__input {
	width: 236px;
	position: absolute;
	top: 16px;
	margin: 0;
	right: 0;
	color: #03a9f5
}
.file-logo {
	margin: -20px 0 8px;
}
.file-logo__input {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	font-size: 999%;
	opacity: 0;
	width: 220px;
	height: 162px;
}
.file-logo__text {
	display: inline-block;
	vertical-align: middle;
	font-size: 10.2px;
	line-height: 14px;
	color: #c5c5c5;
	margin-right: 20px;
	position: relative;
}
.file-logo__btn {
	background: #f7f7f7;
	border-radius: 4px;
	text-align: center;
	line-height: 40px;
	width: 114px;
	display: inline-block;
	vertical-align: middle;
	color: #a5a5a5;
	overflow: hidden;
	position: relative;
}
.file-logo__btn:hover {
	cursor: pointer;
	box-shadow: 0 5px 13px rgba(0,0,0,.2);
}
.file-logo__img {
	margin-top: 10px;
	display: inline-block;
	position: relative;
	border: 2px solid #fff;
}
.file-logo__img--active,
.file-logo__img:hover {
	border-radius: 2px;
	border-color: #03a9f5;
}
.file-logo__img img {
	width: 102px;
	height: 77px;
	display: block;
	position: relative;
}
.file-logo__mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.file-logo__mask i {
	position: absolute;
	width: 127px;
	height: 77px;
	top: 0;
	left: -12px;
	background: url(/images/mask-logo.png);
}


.alert_up__colum-2 {
	margin: 8px 0;
}
.alert_up__colum-2__item {
	width: 50%;
	margin-bottom: 12px;
}

.alert_up__checkbox-box {
	margin: 30px 0;
}
.alert_up__link {
	color: #03a9f5;
	text-decoration: underline;
}
.alert_up__link:hover {
	text-decoration: none;
}

.alert_up__w72--after-procent:after {
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 10px;
	content: '%';
	color: #88c7e7;
	font-size: 18px;
	line-height: 30px;
}


.file-scan {
	margin: 30px 0;
}
.file-scan__input {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	font-size: 999%;
	opacity: 0;
	width: 220px;
	height: 162px;
}
.file-scan__btn {
	margin-left: 112px;
	background: #f7f7f7;
	border-radius: 4px;
	text-align: center;
	line-height: 40px;
	width: 114px;
	display: inline-block;
	vertical-align: middle;
	color: #a5a5a5;
	overflow: hidden;
	position: relative;
}
.file-scan__btn:hover {
	cursor: pointer;
	box-shadow: 0 5px 13px rgba(0,0,0,.2);
}
.file-scan__img {
	margin: 30px 10px 0 0;
	display: inline-block;
	position: relative;
}
.file-scan__img img {
	display: block;
	width: 102px;
	height: 77px;
	border: 2px solid #fff;
}
.file-scan__img:hover img {
	border-radius: 2px;
	border-color: #03a9f5;
}
.file-logo__name {
	width: 102px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	margin: 10px 0;
	line-height: 18px;
	color: #656565;
}

.alert_up__lk .alert_up__lk-red {
	color: #f14b59;
	line-height: 24px;
	margin: 30px 0;
}

.time-box {
	color: #656565;
	margin: 6px 0;
}
.time-box__label {
	width: 40px;
}
.time-box__input {
	width: 60px;
}
.time-box__input .input{
	text-align: center;
	margin: 0;
	padding: 0;
}
.time-box__sep {
	width: 20px;
	text-align: center;
}
.alert_up__item--time .alert_up__title {
	margin-bottom: 20px;
}
.alert_up__item--time p {
	margin: 30px 0
}
.alert_up__item--time p span {
	color: #ababab
}

.alert_up__before-plus {
	padding-left: 20px;
	position: relative;
}
.alert_up__before-plus::before {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 30px;
	content: '+';
}


.alert_up__error-box {
	position: relative;
	margin: 8px 0 0;
}
.alert_up__error-inner {
	padding: 10px 10px;
	border-radius: 5px;
	background: #f2dede
}