@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Regular.woff') format('woff'),
		 url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Light.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Light.woff') format('woff'),
		 url('../fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		 url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Bold.woff') format('woff'),
		 url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}


/* img-text
-----------------------------------------------------------------------------*/
.img-text {
	margin: 34px 0;
}
.img-text__item {
	width: 100%;
}
.img-text img {
	width: 50%;
	display: block;
}
.img-text__text {
	width: 50%;
	line-height: 30px;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: .9px;
	padding: 0 70px 0 35px;
}
.img-text__text h3 {
	line-height: 30px;
	font-weight: 300;
	font-size: 24px;
	letter-spacing: .9px;
	margin-bottom: 32px;
}
.img-text__text.flexbox__order-1 {
	padding: 0 10px 0 90px
}

/* app-download
-----------------------------------------------------------------------------*/
.app-download {
	margin: 116px 0;
	text-align: center;
}
.app-download__img {
	margin: 34px 0 92px;
	height: 506px;
	position: relative;
	background: url(/images/app-download__bg.jpg) no-repeat center;
	background-size: auto 100%;
}
.app-download__parallax,
.app-download__parallax::after {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.app-download__parallax::after {
	background: rgba(0,0,0,.15);
	content: '';
}
.app-download__parallax img {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -488px;
	-webkit-transform: translateY(-60px);
	transform: translateY(-60px);
}
.app-download__img-app {
	position: relative;
	top: 45px;
}
.app-download__item {
	margin: 0 8px;
}
.app-download__item img {
	transition: .05s;
}
.app-download__item:hover img {
	transform: scale(1.1);
}

/* footer
-----------------------------------------------------------------------------*/
.footer {
	padding: 34px 0;
	background: #f5f5f5;
	text-align: center;
}
.social-group {
	margin-bottom: 38px;
}
.social-group__link {
	width: 60px;
	height: 60px;
	display: block;
	border-radius: 50%;
	color: transparent;
	font-size: 0;
	margin: 8px 10px;
	background: url(/images/sprite.png);
	background-size: 800px 600px;
}
.social-group__link:hover {
	box-shadow: 0 10px 18px rgba(0,0,0,.26);
}
.social-group__link--vk {
	background-position: -32px -92px;
}
.social-group__link--fb {
	background-position: -112px -92px;
}
.social-group__link--in {
	background-position: -192px -92px;
}
.social-group__link--ok {
	background-position: -272px -92px;
}
.footer__logo {
	display: block;
	width: 150px;
	height: 40px;
	margin: 10px auto;
	color: transparent;
	font-size: 0;
	background: url(/images/sprite.png) -26px -200px;
	background-size: 800px 600px;
}
.footer__copyright {
	color: #d0d0d0;
	line-height: 16px;
}

.footer__support {
	color: #545454;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	margin: 38px 0 46px;
}
.footer__support a {
	color: #03a9f5;
}
.footer__support a:hover {
	text-decoration: underline;
}
.footer__menu {
	margin: 46px 0 58px;
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
}
.footer__menu li{
	margin-bottom: 12px;
}
.footer__menu a {
	color: #545454;
}
.footer__menu a:hover {
	color: #03a9f5;
}

/* slider
-----------------------------------------------------------------------------*/
.slide-show {
	position: relative;
}
.slide-show__box {
	overflow: hidden;
	position: relative;
}
.slide-show__prev,
.slide-show__next {
	top: 50%;
	left: 50%;
	z-index: 5;
	position: absolute;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	border: 1px solid #fff;
	margin-top: -26px;
	margin-left: -470px;
}
.slide-show__prev:hover,
.slide-show__next:hover {
	background-color: #fff
}
.slide-show__next {
	margin-left: 418px;
}
.slide-show__prev i,
.slide-show__next i{
	top: 15px;
	left: 14px;
}
.slide-show__next i{
	left: 16px;
}
.slide-show__prev:hover i,
.slide-show__next:hover i {
	background-position: -532px -100px;
}
.slide-show__nav {
	position: absolute;
	top: 14px;
	left: 0;
	right: 0;
	z-index: 1;
	text-align: center;
}
.slide-show__marker{
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	border: 2px solid #fff;
}
.slide-show__marker--current{
	background: #fff;
	cursor: default;
}

.slide-show--hide-nav .slide-show__nav,
.slide-show--hide-btn .slide-show__prev,
.slide-show--hide-btn .slide-show__next {
	display: none;
}

.slide-show__item {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: -1;
	opacity: 0;
}
.slide-show__item--next,
.slide-show__item--active {
	z-index: 1;
	opacity: 1;
}

/* slider animation
------------------------------------------*/
.slide-show--right .slide-show__item--next {
	-webkit-animation: slide-show__next .5s;
	-webkit-animation-fill-mode: forwards;
	animation: slide-show__next .5s;
	animation-fill-mode: forwards;
	z-index: 4;
}
.slide-show--left .slide-show__item--next {
	-webkit-animation: slide-show__prev .5s;
	-webkit-animation-fill-mode: forwards;
	animation: slide-show__prev .5s;
	animation-fill-mode: forwards;
	z-index: 4;
}
@-webkit-keyframes slide-show__next {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@-webkit-keyframes slide-show__prev {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes slide-show__next {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes slide-show__prev {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
.slide-show--right .slide-show__item--active {
	z-index: 3;
	-webkit-animation: slide-show__active-next .5s;
	animation: slide-show__active-next .5s;
}
.slide-show--left .slide-show__item--active {
	z-index: 3;
	-webkit-animation: slide-show__active-prev .5s;
	animation: slide-show__active-prev .5s;
}
@-webkit-keyframes slide-show__active-next {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
@-webkit-keyframes slide-show__active-prev {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}
@keyframes slide-show__active-next {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
@keyframes slide-show__active-prev {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}

/* slider--abscissa
------------------------------------------*/
.slide-show--abscissa .slide-show__item {
	position: relative;
	top: 0;
	left: 0;
	right: auto;
	height: auto;
	z-index: 1;
	opacity: 1;
	float: left;
}
.slide-show--abscissa .slide-show__ul {
	-webkit-transition: left .5s;
	transition: left .5s;
	position: relative;
	left: 0;
	width: 999999px;
}
.slide-show--abscissa .slide-show__ul--jump {
	-webkit-transition: left 0s;
	transition: left 0s;
}


/* alert
-----------------------------------------------------------------------------*/
.alert_up {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	z-index: 11;
	overflow: hidden;
	background-color: rgba(0,0,0,.48);
}
.alert_up-show .alert_up {
	height: 100%;
	overflow: auto;
}

.alert_up__item {
	width: 620px;
	max-width: 100%;
	background: #fff;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	position: relative;
	min-height: 208px;
	box-shadow: 0 5px 13px rgba(0,0,0,.2);
}

.alert_up__close--ico {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0;
	right: 0;
	background: url(/images/sprite.png) -476px -92px;
	background-size: 800px 600px;
}
.scroolbar {
	width:100px;
	height:100px;
	overflow:scroll;
	position: absolute;
	top: -200px;
	left: 0;
}
.scroolbar__item {
	height:100px;
}

.alert_up h4 {
	text-align: center;
	color: #03a9f5;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 38px;
	font-weight: 400;
}
.alert_up p {
	text-align: center;
	color: #474747;
	font-size: 16px;
	line-height: 19px;
	margin: 13px;
	padding: 10px;
}
.alert_up p a {
	color: #03a9f5;
}
.alert_up .input {
	width: 180px;
	font-size: 13px;
	margin: 32px auto 20px;
}
.alert_up .input--email {
	color: #03a9f5
}

.alert_up__btns {
	text-align: center;
}
.alert_up__btns .btn {
	width: 140px;
	margin: 16px 8px;
	text-transform: uppercase;
}

.alert_up__item--registr-ok {
	min-height: 170px;
}
.alert_up__item--registr-ok p {
	padding: 0;
}

.scroll-pane {
	margin: 28px 0 14px;
	width: 580px;
	height: 256px;
	overflow: auto;
}
.scroll-pane p {
	color: #9b9b9b;
	padding: 0;
	margin: 18px;
	text-align: left;
}
.scroll-pane p:last-child,
.scroll-pane p:first-child {
	margin-top: 0;
	margin-bottom: 0;
}

.jspContainer {
	overflow: hidden;
	position: relative;
}
.jspPane {
	position: absolute;
}
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 2px;
	width: 8px;
	height: 100%;
	background: #f0f0f0;
	border-radius: 4px;
}
.jspTrack {
	position: relative;
}
.jspDrag {
	background: #03a9f5;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.jspDrag:hover,
.jspDrag:active {
	box-shadow: 0 0 2px rgba(0,0,0,.5);
}

.alert_up__item h3 {
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
}
.alert_up__item--login::before {
	position: absolute;
	width: 1px;
	top: 88px;
	left: 50%;
	margin-left: -1px;
	bottom: 54px;
	content: '';
	background: #e7e7e7;
}
.form-login {
	width: 50%;
	padding-left: 60px;
	padding-right: 50px;
	text-align: left;
}
.form-login + .form-login{
	padding-left: 50px;
}
.alert_up h4 {
	line-height: 36px;
	margin-bottom: 29px;
	text-align: left;
}
.input-box {
	display: block;
	width: 100%;
	color: #474747;
	margin: 15px 0;
	position: relative;
}
.input-box .input {
	margin: 4px 0;
	width: 100%;
}
.input-box .ico--close-red {
	left: auto;
	right: -4px;
	top: 24px;
}
.input-box .ico--check-green {
	left: auto;
	right: 10px;
	top: 21px;
}
.input-box__error {
	color: #f14b59;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 28px;
	cursor: text;
}
.form-login__text {
	margin: 28px 0 14px;
	padding: 0;
	font-size: 14px;
	line-height: 19px;
	text-align: left;
}
.form-login__text a {
	color: #03a9f5;
	text-decoration: underline;
}
.form-login__text a:hover {
	text-decoration: none;
}
.form-login__btn {
	margin: 48px 0;
	text-transform: uppercase;
	width: 140px;
}
.form-login + .form-login .form-login__btn {
	margin: 38px 0 32px;
}


.input-box .tooltip {
	position: absolute;
	right: 10px;
	top: 16px;
}

/* tooltip
----------------------------------------*/
.tooltip {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	color: transparent;
	background: url(/images/sprite.png) -480px -128px;
	background-size: 800px 600px;
	position: relative;
}
.tooltip span {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-top: 14px;
	margin-left: -81px;
	width: 162px;
	color: #878787;
	font-size: 12px;
	line-height: 14px;
	padding: 6px 9px 10px 10px;
	background: #f3f3f3;
	border-radius: 4px;
	box-shadow: 0 5px 13px rgba(0,0,0,.2);
}
.tooltip span::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -8px;
	border: 8px solid transparent;
	border-bottom-color: #f3f3f3;
}
.tooltip:hover {
	z-index: 9;
	overflow: visible;
}
