@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Regular.woff') format('woff'),
		 url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Light.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Light.woff') format('woff'),
		 url('../fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		 url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Bold.woff') format('woff'),
		 url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}



/* img-text
-----------------------------------------------------------------------------*/
.img-text {
	margin: 34px 0;
}
.img-text__item {
	width: 100%;
}
.img-text img {
	width: 50%;
	display: block;
}
.img-text__text {
	width: 50%;
	line-height: 30px;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: .9px;
	padding: 0 70px 0 35px;
}
.img-text__text h3 {
	line-height: 30px;
	font-weight: 300;
	font-size: 24px;
	letter-spacing: .9px;
	margin-bottom: 32px;
}
.img-text__text.flexbox__order-1 {
	padding: 0 10px 0 90px
}

/* app-download
-----------------------------------------------------------------------------*/
.app-download {
	margin: 116px 0;
	text-align: center;
}
.app-download__img {
	margin: 34px 0 92px;
	height: 506px;
	overflow: hidden;
	position: relative;
	background: url(/images/app-download__bg.jpg) no-repeat center;
}
.app-download__img::before {
	position: absolute;
	width: 976px;
	height: 637px;
	top: 0;
	left: 50%;
	margin-left: -488px;
	content: '';
	background: url(/images/app-download__parallax.png);
	transform: translateY(-60px);
}
.app-download__img img {
	position: relative;
	top: 45px;
}
.app-download__item {
	margin: 0 8px;
}

/* footer
-----------------------------------------------------------------------------*/
.footer {
	padding: 32px 0 34px;
	background: #f5f5f5;
	text-align: center;
}
.social-group {
	margin-bottom: 240px;
}
.social-group__link {
	width: 64px;
	height: 64px;
	display: block;
	border-radius: 50%;
	color: transparent;
	font-size: 0;
	margin: 8px;
	background: url(/images/sprite.png);
}
.social-group__link--vk {
	background-position: -30px -90px
}
.social-group__link--fb {
	background-position: -110px -90px
}
.social-group__link--in {
	background-position: -190px -90px
}
.social-group__link--ok {
	background-position: -270px -90px
}
.footer__logo {
	display: block;
	width: 150px;
	height: 40px;
	margin: 10px auto;
	color: transparent;
	font-size: 0;
	background: url(/images/sprite.png) -26px -200px
}
.footer__copyright {
	color: #d0d0d0;
	line-height: 16px;
}
