@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Regular.woff') format('woff'),
		 url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Light.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Light.woff') format('woff'),
		 url('../fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		 url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Bold.woff') format('woff'),
		 url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}




/* form-comment
-----------------------------------------------------------------------------*/

/* pagin
-----------------------------------------------------------------------------*/

/* footer
-----------------------------------------------------------------------------*/
.footer {
	padding: 62px 0 32px;
	background: #f2f2f2;
	border-top: 1px solid #ececec;
}
.footer__address {
	color: #737283;
	padding: 18px 0
}
.footer__tel {
	font-size: 24px;
	line-height: 28px;
	color: #379199;
	display: inline-block;
	padding: 10px 0 8px;
}
.footer__mail {
	opacity: 0.6;
	color: #323049;
}
.footer__mail:hover {
	opacity: 1;
}
.social-group {
	font-size: 0;
	margin: 28px 0 0;
}
.social-group__item {
	display: inline-block;
	margin-right: 17px;
}
.footer__item a:hover {
	color: #e84d23;
}
.social-group__link {
	width: 29px;
	height: 29px;
	display: block;
	border-radius: 50%;
	color: transparent;
	font-size: 0;
	background: #737283 url(/images/sprite.svg) -36px -32px;
}
.social-group__link--tw {
	background-position: -32px -213px
}
.social-group__link--fb {
	background-position: -77px -213px
}
.social-group__link--yt {
	background-position: -123px -213px
}
.social-group__link--tw:hover {
	background-color: #161431;
}
.social-group__link--fb:hover {
	background-color: #161431;
}
.social-group__link--yt:hover {
	background-color: #161431;
}

.footer__item {
	line-height: 26px;
	padding: 0 30px 0 40px;
}
.footer__item p{
	color: #737283;
	max-width: 300px
}
.footer__head{
	font-size: 14px;
	line-height: 18px;
	padding: 4px 0 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #e84d23;
}
.footer__app-store,
.footer__google-play {
	width: 158px;
	height: 50px;
	margin-top: 28px;
	font-size: 0;
	opacity: .6;
	color: transparent;
	background: url(/images/sprite.svg) -162px -106px
}
.footer__google-play {
	margin-right: 14px;
	background-position: -336px -106px
}
.footer__app-store:hover,
.footer__google-play:hover {
	opacity: 1;
}
.footer__hr {
	margin: 30px 0;
	background: #e2e2e2;
}
.footer__copyright {
	color: #b6b6b6;
	line-height: 28px;
}
